.game__container {
    margin:10%;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    align-content: center;
}

.game__title {
text-align: center;
font-weight: 700;
}

.player__container {
    margin: 0;
    padding: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game__speaker {
color: blue;
border: 2px solid blue;
padding: 20px 300px;
}
.attemps__counter {
    position: fixed;
    top:0;
    right: 10%;
    color: red;
    font-size: 60px;
}
