<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Document</title>
</head>
<body class="game__container">
    <h1 class="game__title">Adivina el número</h1>

    <form class="player__container">
        <label for="input">Introduce aquí tu número</label>
        <input id="input" class="input" type="text" name="player__input" placeholder="Ej: 45"/>
        <button type="button" class="button">Prueba</button>
    </form>

    <p class="speaker">Escribe un número y dale a <em>prueba</em></p>
    <p class="counter"> 0</p>

<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>